* {
    color: blanchedalmond;
}

html {
    background: black;
}

.main-container {
    background: black;
}

.sub-container {
    background-image: url(../images/zardoz_2.jpeg); 
    width: 1279px;
    height: 720px;
    margin-top: 100px;
}


#an-a, #an-b, #an-c {
    color: black;
}

h2 {
    color: aquamarine;
}